* {
  box-sizing: border-box;
  }

html {font-size: 16px;
}

body {
font-family: 'Raleway', sans-serif;
}

.title {
  width: 100vw;
  height: 60vh;
  color: #025756;
  padding: 15vh 0 0 0;
  font-size: 8vw;
  text-align: center;
}

.one {
  width: 100vw;
  height: 65vh;
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-color: #ffe57a;
}

.one img {
  width: 50%;
  padding-top: 32px;
  position: relative;
}

.two {
  width: 100vw;
  height: 60vh;
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-color: #deafba;
}

.two img {
  width: 50%;
  padding-top: 32px;
  position: relative;
}

.three {
  width: 100vw;
  height: 60vh;
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-color: #abe3e7;
}

.three img {
  width: 50%;
  padding-top: 32px;
  position: relative;
}

.four {
  width: 100vw;
  height: 60vh;
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-color: #d0ccfe;
}

.four img {
  width: 50%;
  padding-top: 32px;
  position: relative;
}

.five {
  width: 100vw;
  height: 75vh;
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-color: #fa8072;
}

.five img {
  width: 50%;
  padding-top: 32px;
  position: relative;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  color: #025756;
  padding: 12vh 0 0 0;
  font-size: 5em;
  text-align: center;
}
