html {
  font-size: 16px;
}

body {
margin: 15px;
font-family: 'Raleway', sans-serif;
}

a {

}

.title {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
}

.one {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-image: url(images/black-lab.jpg);
}

.two {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-image: url(images/corgi-fluff.jpg);
}

.three {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-image: url(images/beagle-2.jpg);
}

.four {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-image: url(images/border-collie.jpg);
}

.four img {
  width: auto;
  height:
}

.five {
  width: 100vw;
  height: 9vh;
  color: #025756;
  padding: 35vh 0 0 0;
  font-size: 8vw;
  text-align: center;
  background-image: url(images/pbgv.jpg);
}

.five img {
  width: 65%;
  height: 
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
