body {
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

#container {
  margin: 25px;
}

.img img {
  /* max-width: 100%; */
  width: 100%;
}

.logo img {
  /* max-width: 100%; */
  width: 45%;
  padding-left: 30%;
  /* padding-top: 20%; */
  margin-bottom: -50px;
}

.bio {
  width: 90%;
  margin: 10px auto;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 12pt;
}

.sigs img {
  /* max-width: 100%; */
  width: 55%;
  padding-left: 20%;
}

h6 {font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
text-align: center;
}

.disc {
  margin: 20px auto;
  text-align: center;
  float: left;
  padding-left: 150px;
}

.one img, .two img, .three img {
  max-width: 50%;
  margin: 10px auto;
  width: 25%;
  float: left;
  padding: 7px;
}

.text1, .text2, .text3 {
font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 9px;
text-align: center;
float: left;
margin: 15px;
}

.tour img {
    /* max-width: 100%; */
    padding-left: 250px;
    width: 50%;
    margin: 10px auto;
  }


.dates {
  width: 60%;
  margin: 10px auto;
}


.tour1, .tour2, .tour3 {text-transform: uppercase;
color: whitesmoke;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 20px;
float: left;
margin-right: 13px;
}

h2 {text-transform: uppercase;
color: yellow;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 28.5px;
text-align: right;
text-decoration: none;
text-align: center;
padding: 5px;
border: 7px solid yellow;
width: 160px;
height: 100px;
float: left;
}

a:hover {color: white
}

a {color: yellow;
}

.gallery {
  width: 70%;
  margin: 10px auto;
}

.gallery1 img {
  /* max-width: 100%; */
  width: 45%;
  object-fit: cover;
  object-position: 100% 0;

  width: 145px;
  height: 337px;
  float: left;
  padding: 10px;
}

.gallery2 img {
  /* max-width: 100%; */
  width: 65%;
  object-fit: cover;

  width: 375px;
  height: 337px;
  float: left;
  padding: 10px;
}

.gallery3 img {
  /* max-width: 100%; */
  width: 45%;
  object-fit: cover;
  object-position: -20% 0;

  width: 155px;
  height: 337px;
  /* float: left; */
  margin-bottom: 40px;
}

.email {
text-align: center;
}

.rainbow img {
  /* max-width: 100%; */
  width: 35%;
}

h3 {text-transform: uppercase;
color: yellow;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 30px;
text-align: right;
text-decoration: none;
text-align: center;
padding: 10px;
border: 5px solid yellow;
/* width: 550px; */
}

@media only screen and (max-width: 1339px)
{
  body {
margin: 50px;}
h1 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
p {font-size: 20px;}

.gallery {margin: 120px;
}
/* .email, .rainbow {
  text-align: center; */
}



@media only screen and (max-width: 1025px)
{
  body {
  margin: 50px;}
  h1 {font-size: 45px;}
  h3 {font-size: 40px;}
  h4 {font-size: 35px;}
  p {font-size: 20px;}
  .gallery1 {
    width: 25%;}
  .gallery2 {
    width: 50%;}
  .gallery3 {
    width: 25%}
  }
  }
}


@media only screen and (max-width: 767px)
{
  body {
margin: 50px;}
h1 {font-size: 40px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
h5 {font-size: 13px;}
p {font-size: 20px;}
}


@media only screen and (max-width: 500px)
{
  body {
margin: 50px;}
h1 {font-size: 35px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
p {font-size: 15px;}
/* .img {
  max-width: 100%;
  margin-bottom: -300px;} */
.tour1, .tour2, .tour3 {
  font-size: 12px;
}
}
