body {
  background-color: black;
  margin: 15px;
}

#container {width: auto;
}

.img img {
  /* max-width: 100%; */
  width: 100%;
}

.logo img {
  /* max-width: 100%; */
  width: 45%;
  padding-left: 30%;
  padding-top: 20%;
  margin-bottom: -90px;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
}

.sigs img {
  /* max-width: 100%; */
  width: 55%;
  padding-left: 20%;
}

h6 {font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
text-align: center;
}

.disc {
  text-align: center;
}

.one img {
  /* max-width: 100%; */
  width: 25%;
}

.two img {
  /* max-width: 100%; */
  width: 25%;
}

.three img {
  /* max-width: 100%; */
  width: 25%;
}

.text {
font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
text-align: center;
}

.tour img {
    /* max-width: 100%; */
    width: 75%;
    padding-left: 100px;
  }


.dates {
  width: auto;
  height: auto;
  margin-left: 105px;
}


.tour1, .tour2, .tour3 {text-transform: uppercase;
color: whitesmoke;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 20px;
float: left;
margin-right: 13px;
}

h2 {text-transform: uppercase;
color: yellow;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 28.5px;
text-align: right;
text-decoration: none;
text-align: center;
padding: 5px;
border: 7px solid yellow;
width: 160px;
height: 100px;
float: left;
}

.gallery1 img {
  /* max-width: 100%; */
  width: 45%;
  object-fit: cover;
  object-position: 100% 0;

  width: 145px;
  height: 337px;
  float: left;
  padding: 10px;
}

.gallery2 img {
  /* max-width: 100%; */
  width: 65%;
  object-fit: cover;

  width: 375px;
  height: 337px;
  float: left;
  padding: 10px;
}

.gallery3 img {
  /* max-width: 100%; */
  width: 45%;
  object-fit: cover;
  object-position: -20% 0;

  width: 155px;
  height: 337px;
  float: left;
}

.email {
text-align: center;
}

.rainbow img {
  /* max-width: 100%; */
  width: 35%;
}

h3 {text-transform: uppercase;
color: yellow;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 30px;
text-align: right;
text-decoration: none;
text-align: center;
padding: 10px;
border: 5px solid yellow;
width: 550px;
}


@media only screen and (min-width: 500px)
{
  body {
margin: 50px;}
h1 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
p {font-size: 20px;}
.img {
  max-width: 100%;
  margin-bottom: -300px;
}

}

@media only screen and (min-width: 767px)
{
  body {
margin: 50px;}
h1 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
p {font-size: 20px;}
}

@media only screen and (min-width: 1025px)
{
  body {
  margin: 50px;}
  h1 {font-size: 45px;}
  h3 {font-size: 40px;}
  h4 {font-size: 35px;}
  p {font-size: 20px;}
}

@media only screen and (min-width: 1339px)
{
  body {
margin: 50px;}
h1 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
p {font-size: 20px;}
}
