body {
  text-align: center;
  background-color: #001B40;
  font-family: serif;
  font-style: italic;
  font-size: 30px;
  color: #f5edae;
}
img {
  max-width: 100%;
}
a:link {
  color: #f5edae;
}
a:hover {
  color: #fff68f;
}
a:visited {
  color: gold;
}
