body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%
  margin-left: -10%
  margin-top: -50px
}
.tile1, .tile2, .tile3 {
  width: 100px;
  height: 100px;
  float: left;
  margin: 45px
}
.tile1 {
  background-color: lightpink;
}
.tile2 {
  background-color: magenta;
}
.tile3 {
  background-color: darkorange;
}
