body {
  background-color: black;
  margin: 15px;
}

#id {

}

.img {
  width: 1440px;
  height: 855px;
  max-width: 100%;
  object-fit: cover;
}

.logo {
  width: 680px;
  height: 200px;
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
}

.sigs {
  max-width: 100%;
  width: 420px;
  height: 120px;
}

h6 {font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
text-align: center;
}

.one, .two, .three {font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
color: whitesmoke;
font-size: 13pt;
text-align: center;
float: left;
}

.tour1, .tour2, .tour3 {text-transform: uppercase;
color: whitesmoke;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 20px;
}

.tix, a {text-transform: uppercase;
color: yellow;
font-family: franklin-gothic-urw;
font-weight: 700;
font-style: normal;
font-size: 30px;
text-align: right;
text-decoration: none;
}
