body {background-color: ivory;
  margin: 200px;
}

#container {width: 1339px;
}

.blade {width: 0;
   height: 0;
   border-left: 200px solid silver;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   position: absolute;
   top: 180px;
   left: 180px;
}

.handle {
  width:20px;
     height:230px;
     background: black;
     position: fixed;
     top: 260px;
     left: 180px;
}

.drip1 {
  width: 20px;
 height: 20px;
 background: red;
 -moz-border-radius: 40px / 20px;
 -webkit-border-radius: 40px / 20px;
 border-radius: 40px / 20px;
 position: absolute;
 top: 229px;
 left: 357px;
 animation-name: blood;
 animation-duration: 2.5s;
 animation-iteration-count: infinite;
 animation-timing-function: ease;
}

@-webkit-keyframes blood {
  from {height: 20px;}
  to {height: 300px;}
