body {
  background-color: whitesmoke;
}
#container {
  width: 800px;
}
.header {
  width: 770px;
  height: 50px;
  margin: 0 0 10px;
  background-color: lime;
  float: left;
}
.nav {
  width: 770px;
  height: 50px;
  background-color: green;
  margin: 10px 0;
  float: left;
}
.col {
  width: 250px;
  height: 600px;
  background-color: seagreen;
  margin: 0 0 10px;
  margin-right: 10px;
  float: left;
}
.footer {
  width: 770px;
  height: 50px;
  margin: 0 0 10px;
  background-color: lime;
  float: left;
}
