body {

  }
#board {
  width: 800px;
}

.red {
  width: 100px;
  height: 100px
  background-color: red
  float: left;
}
.white {
  width: 100px;
  height: 100px
  background-color: white
  float: left;
