body {
background-color: white
}
#board {
  width: 800px;
  margin: 50px auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: cyan;
  float: left;
}
.white {
  width: 100px;
  height: 100px;
  background-color: purple;
  float: left;
}
